*{
margin: 0;
padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

nav{
margin: 0 auto;
max-width: 1400px;
width: 100%;
}
.toggle{
display: none;
}

#checkbox-menu{
display: none;
}
.menu{
padding: 0;
margin: 0;
height: 50px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
list-style-type: none;

}

.menu a{
text-decoration: none;
color: #000;
align-self: center;
font-size: 15px;
font-weight: 400;
padding: 10px 15px;
transition: 0.2s linear;

}

.menu li a:hover{
content:'';
background: #ffcc01;
border-radius: 3px;
}

.menu li a.logo{
font-size: 25px;
text-transform: uppercase;
font-weight: 600;
margin-right: 240px;
}

.menu li a.contacts{
margin-right: 100px;
}

@media screen and (max-width:765px){
.toggle{
clear: both;
display: block;
text-align: center;
font-size: 18px;
line-height: 40px;
width: 100%;
color: #000;
background: #ffcc01;
transition: all .1s linear;
}
.toggle:hover{
content:'';
background: #d3a900;
}
#checkbox-menu:checked + label .touch li{
opacity: 1;
visibility: visible;
transition: all .7s linear;
}
#checkbox-menu:checked + label .touch{
height: 350px;
}
.menu{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 0;
transition: height .3s linear;
}
.menu li{
display: flex;
align-self: center;
width: 95%;
opacity: 0;
visibility: hidden;
}
}